@import "tailwindcss";

@theme {
  --color-primary: #0D1117;
  --color-secondary: #3B82F6;
  --color-tertiary: #1E3A8A;
  --color-text-primary: #E2E8F0;
  --color-text-secondary: #0D1117;
  --color-purple-glow: #8B5CF6;
  --color-border: #1F2937;
}